@import url(./_reset.css);
@import url(./_variaveis.css);

body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--cinza);

    background: url(../../img/fundo-linhas.png), url(../../img/fundo-textura.png);
    background-position: center;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo {
    font-size: var(--tamanho-titulo);
}

.titulo--destaque {
    font-weight: var(--peso-titulo-destaque);
    font-family: var(--familia-titulo-destaque);
    font-size: var(--tamanho-titulo-destaque);

    color: var(--preto);

    display: block;

    margin-top: .75rem;
    margin-bottom: .75rem;
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--centro {
    text-align: center;
}

.texto {
    line-height: 26px;
}